node_modules
.env
.env.local
.env.*.local
.env.docker
package-lock.json
pnpm-lock.yaml

# OS files
.DS_Store
Thumbs.db
.idea/
*.swp
*.swo

# IDE
.vscode/
.sublime-project
.sublime-workspace

# Logs
*.log
npm-debug.log*
lerna-debug.log*

# Build
dist/
build/

# Local uploads
uploads/
temp/
backup/
